@model ShipBase.Domain.SectionOne.ViewModels.PurchasingData.PurchasingDataViewModel

<form  id="formSavePurchase">

    <div asp-validation-summary="All" style="font-size:23px; font-family:Impact, serif" class="text-danger text-center"></div>
    <div class="row">
        <div class="form-group col-md-4">
            <label asp-for="@Model.Id" class="col-form-label"></label>
            <input type="text" class="form-control" asp-for="@Model.Id">
        </div>
        <div class="form-group col-md-4">
            <label asp-for="@Model.Purchase_stage" class="col-form-label"></label>
            <input type="text" class="form-control" asp-for="@Model.Purchase_stage">
        </div>
        <div class="form-group col-md-4">
            <label asp-for="@Model.Num_Of_Applications" class="col-form-label"></label>
            <input class="form-control" asp-for="@Model.Num_Of_Applications" />
        </div>
        <div class="form-group col-md-4">
            <label asp-for="@Model.Method_of_purchasing" class="col-form-label"></label>
            <input type="text" class="form-control" asp-for="@Model.Method_of_purchasing" />
        </div>
        <div class="form-group col-md-4">
            <label asp-for="@Model.Start_data" class="col-form-label"></label>
            <input type="date" class="form-control" asp-for="@Model.Start_data" />
        </div>
        <div class="form-group col-md-4">
            <label asp-for="@Model.End_data" class="col-form-label"></label>
            <input type="date" class="form-control" asp-for="@Model.End_data" />
        </div>
        <div class="form-group col-md-4">
            <label asp-for="@Model.NMCK" class="col-form-label"></label>
            <input type="text" class="form-control" asp-for="@Model.NMCK" />
        </div>
        <div class="form-group col-md-4">
            <label asp-for="@Model.Federal_law" class="col-form-label"></label>
            <input type="text" class="form-control" asp-for="@Model.Federal_law" />
        </div>
        <div class="form-group col-md-4">
            <label asp-for="@Model.Num_of_ships" class="col-form-label"></label>
            <input type="number" class="form-control" asp-for="@Model.Num_of_ships" />
        </div>
        <div class="form-group col-md-4">
            <label asp-for="@Model.Purchase_object" class="col-form-label"></label>
            <input type="number" class="form-control" asp-for="@Model.Purchase_object" />
        </div>
        <div class="form-group col-md-4">
            <label asp-for="@Model.NameOfCustomer" class="col-form-label"></label>
            <input type="number" class="form-control" asp-for="@Model.NameOfCustomer" />
        </div>
    </div>
</form>

<style>
    label {
        color: black;
    }
</style>

<script src="~/lib/select2/js/select2.full.min.js"></script>
<script>





    $('#saveBtn').on('click', function () {
        const data = $('#formSavePurchase').serialize()
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Save","Purchase")',
            data: data,
            success: function (data) {
                Swal.fire({
                    title: 'Информация',
                    text: data.description,
                    icon: 'success',
                    confirmButtonText: 'Окей'
                })
            },
            error: function (response) {
                Swal.fire({
                    title: 'Информация',
                    text: response.responseJSON.errorMessage,
                    icon: 'error',
                    confirmButtonText: 'Окей'
                })
            }
        })
    });
</script>